body {
	font-family: "Verdana", sans-serif;
	font-size: 18px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	padding: 0;
	margin-bottom: 5px;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
}

h4 {
	font-size: 1em;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.menu {
	float: left;
	position: relative;
	z-index: 1;
	cursor: pointer;
	font-size: 0.8em;
	white-space: nowrap;
}

.menu a {
	text-decoration: none;
	color: black;
}

..menu h3 {
	float: left;
	margin: 0;
	padding: 1px 5px;
	background: url("img/red-dot.png") no-repeat left bottom white;
}

.menu h4 {
	display: inline;
	margin: 0;
}

.menu ul {
	position: absolute;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	background: url("img/red-dot.png") no-repeat left bottom white;
}

.menu li {
	margin: 0;
	padding: 2px 25px;
	list-style-type: none;
	color: black;
}

.menu li img {
	margin-left: -22px;
	padding-right: 5px;
}

.menu li.separator {
	margin-top: 5px;
	border-top: 1px solid gray;
	padding-top: 5px;
}

.menu li.flyout-trigger {
	background: url("img/red-dot.png") no-repeat right center;
}

.menu li.flyout-trigger.hover {
	background: url("img/red-dot.png") no-repeat right center firebrick;
}

.menu h3.hover {
	background: url("img/red-dot.png") no-repeat left top white;
}

.menu li.hover {
	background-color: firebrick;
	color: white;
}

.menu li.hover > a {
	color: white;
}

.menu ul.dropdown {
	top: 100%;
	clear: left;
}

.menu ul.submenu {
	left: 100%;
	margin-top: -1.5em;
	margin-left: -0.3em;
}

.menu .hidden {
	left: -99999px;
	top: -99999px;
}

.menu h3, .menu ul, {
	border-left: 1px solid yellow;
	border-right: 1px solid orange;
	border-top: 1px solid yellow;
	border-bottom: 1px solid orange;
}
