body {
	font-family: "Verdana", sans-serif;
	font-size: 18px;
	padding: 20px;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

td {
	border: 1px solid black;
	text-align: center;
	background: white;
	width: 50px;
}

#ts .odd td {
	background: palegreen;
}

#t1 td.c3 {
	background: darkgreen;
	color: white;
}