body {
	font-family: arial;
}

.gp {
	position: relative;
	height: 300px;
	width: 700px;
	border: 2px solid black;
}

.parent {
	margin: 10px;
	padding: 10px;
	padding-top: 0;
	border: 1px solid black;
}

.example {
	border: 5px black solid;
	padding: 5px;
	background-color: gold;
	width: 120px;
	text-align: center;
	position: relative;
}

.example span {
	left: 0;
	width: 130px;
	height: auto;
}

span.example span {
	position: absolute;
	top: auto;
	margin-top: auto;
	bottom: 5px;
	margin-bottom: 0;
}

#zs {
	position: static;
	height: 100px;
	margin-top: auto;
	margin-bottom: -70px;
}

#ws {
	position: static;
	height: auto;
	margin-top: auto;
	margin-bottom: 120px;
	background-color: yellow;
}

#za {
	position: absolute;
	height: 100px;
	top: auto;
	margin-top: auto;
	bottom: 0;
	margin-bottom: 50px;
	margin-left: 200px;
}

#wa {
	position: absolute;
	height: auto;
	top: auto;
	margin-top: auto;
	bottom: 0;
	margin-bottom: 50px;
	margin-left: 355px;
}

#sa {
	position: absolute;
	height: auto;
	top: 0;
	margin-top: 0;
	bottom: 0;
	margin-bottom: 50px;
	margin-left: 510px;
}
