*.gp {
	border: 3px solid black;
	padding: 5px;
}

*.parent {
	border: 1px solid black;
	padding: 5px;
}

*.z {
	padding: 5px;
	border: 5px solid black;
}

#float {
	float: right;
	margin-top: 10px;
	width: 150px;
	height: 50px;
}

#static {
	position: static;
	width: 150px;
	height: 50px;
	margin-bottom: 10px;
}

#table {
	width: 150px;
	height: 50px;
}

#abs {
	position: absolute;
	margin-left: 50px;
	width: 150px;
	height: 50px;
}

#star {
	margin-left: auto;
	width: 26px;
	height: 26px;
}
